@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

* {
    box-sizing: border-box;
  }

body {      
    font-size: 100%;
    margin: 0;
    line-height: 1.4283;
    font-family: 'Nunito Sans', sans-serif;     
}

.head {
    text-align: center;
    font-size: 50px;
}

.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    padding-bottom: 40px;
}

.content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured {
    width: 35rem;   
    height: 20rem;
}

.content p {
    width: 700px;
}

.tempHead {
    text-align: center;
}

.meta {
    text-align: center;
}

.post h2,
.content h1 {
    text-align: center;
}

.post h2 a {
    color: #555;
}

.meta {
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}

.homeImg {
    margin-left: 25%;
    width: 500px;    
}

.excerpt {
    margin: 30px 0 15px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.button {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 20px 0;
}

.button a {
    color: #555;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid #555;
}

.button a:hover {
    color: #fff;
    border-color: #222;
    background-color: #222;
}

.vist-btn {
    padding: 10px;    
    background-color: white;   
    outline: none !important;
    border-radius: 10px;
    border-color: red;
}

.vist-btn a {
    text-decoration: none;
    color: black;
    outline: none !important;
}

.vist-btn:hover {
    background-color: skyblue;       
}


/*---------------------------Navbar------------------------*/
/* .headerImg {
    position: relative;
    height: 326px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
} */

/* .headerImg {
    position: relative;
    height: 326px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/header-image.jpg");
} */

.login-btn {
    padding: 8px;    
    border-radius: 10px;
    border-color: rebeccapurple;
    outline: none;
    background-color: ghostwhite;
    color: green;
    font-weight: bold; 
    font-family: 'JetBrains Mono', monospace;  
    font-size: 14px; 
    margin-bottom: 7px;
}

.login-btn:hover {
    cursor: pointer;
}

.logout-btn {
    padding: 8px;
    border-radius: 10px;
    border-color: rebeccapurple;
    outline: none;
    background-color: ghostwhite;
    color: indianred;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
}

.logout-btn:hover {
    cursor: pointer;
}

.sp-one {
    margin-right: 15px;
    font-weight: bold;
    color: #00ff15;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Jura', sans-serif;
}
